<h2>Search the timetable</h2>
    <div class="search" id="search">
        <div>
            <p>Subject:</p>
            <select name="subject" id="subjectInput">
                <option value="All Subjects">All Subjects</option>
                <option value="ACTURSCI">ACTURSCI</option>
                <option value="AMERICAN">AMERICAN</option>
                <option value="APPLMATH">APPLMATH</option>
                <option value="ARABIC">ARABIC</option>
                <option value="AH">AH</option>
                <option value="ASTRONOM">ASTRONOM</option>
                <option value="BIBLSTUD">BIBLSTUD</option>
                <option value="BME">BME</option>
                <option value="BIOSTATS">BIOSTATS</option>
                <option value="BUSINESS">BUSINESS</option>
                <option value="CALCULUS">CALCULUS</option>
                <option value="CGS">CGS</option>
                <option value="CBE">CBE</option>
                <option value="CHEMBIO">CHEMBIO</option>
                <option value="CHEM">CHEM</option>
                <option value="CHINESE">CHINESE</option>
                <option value="CHURCH">CHURCH</option>
                <option value="CEE">CEE</option>
                <option value="CLASSICS">CLASSICS</option>
                <option value="COMMSCI">COMMSCI</option>
                <option value="COMPLIT">COMPLIT</option>
                <option value="COMPSCI">COMPSCI</option>
                <option value="DANCE">DANCE</option>
                <option value="DIGICOMM">DIGICOMM</option>
                <option value="DIGIHUM">DIGIHUM</option>
                <option value="EARTHSCI">EARTHSCI</option>
                <option value="ECONOMIC">ECONOMIC</option>
                <option value="ECE">ECE</option>
                <option value="ENGSCI">ENGSCI</option>
                <option value="ENGLISH">ENGLISH</option>
                <option value="EPIDEMIO">EPIDEMIO</option>
                <option value="FIMS">FIMS</option>
                <option value="FILM">FILM</option>
                <option value="FINMOD">FINMOD</option>
                <option value="FOODNUTR">FOODNUTR</option>
                <option value="GEOGRAPH">GEOGRAPH</option>
                <option value="GLE">GLE</option>
                <option value="GREEK">GREEK</option>
                <option value="HEALTSCI">HEALTSCI</option>
                <option value="HEBREW">HEBREW</option>
                <option value="HISTSCI">HISTSCI</option>
                <option value="HOMILET">HOMILET</option>
                <option value="HUMANECO">HUMANECO</option>
                <option value="INDIGSTU">INDIGSTU</option>
                <option value="ICC">ICC</option>
                <option value="ITALIAN">ITALIAN</option>
                <option value="JAPANESE">JAPANESE</option>
                <option value="JEWISH">JEWISH</option>
                <option value="KINESIOL">KINESIOL</option>
                <option value="LATIN">LATIN</option>
                <option value="LS">LS</option>
                <option value="LINGUIST">LINGUIST</option>
                <option value="LITURGIC">LITURGIC</option>
                <option value="MOS">MOS</option>
                <option value="MTP-MKTG">MTP-MKTG</option>
                <option value="MATH">MATH</option>
                <option value="MME">MME</option>
                <option value="MSE">MSE</option>
                <option value="MIT">MIT</option>
                <option value="MEDHINFO">MEDHINFO</option>
                <option value="MEDIEVAL">MEDIEVAL</option>
                <option value="MTP-MMED">MTP-MMED</option>
                <option value="MCS">MCS</option>
                <option value="MUSIC">MUSIC</option>
                <option value="NEURO">NEURO</option>
                <option value="PASTTHEO">PASTTHEO</option>
                <option value="PERSIAN">PERSIAN</option>
                <option value="PHARM">PHARM</option>
                <option value="PHILST">PHILST</option>
                <option value="PHILOSOP">PHILOSOP</option>
                <option value="PORTUGSE">PORTUGSE</option>
                <option value="REHABSCI">REHABSCI</option>
                <option value="RELEDUC">RELEDUC</option>
                <option value="SACRTHEO">SACRTHEO</option>
                <option value="SCIENCE">SCIENCE</option>
                <option value="SOCSCI">SOCSCI</option>
                <option value="SOCIOLOG">SOCIOLOG</option>
                <option value="SE">SE</option>
                <option value="SPEECH">SPEECH</option>
                <option value="SPIRTHEO">SPIRTHEO</option>
                <option value="STATS">STATS</option>
                <option value="SA">SA</option>
                <option value="SYSTHEO">SYSTHEO</option>
                <option value="THEATRE">THEATRE</option>
                <option value="THEOETH">THEOETH</option>
                <option value="THESIS">THESIS</option>
                <option value="TJ">TJ</option>
                <option value="WOMENST">WOMENST</option>
                <option value="WRITING">WRITING</option>
            </select>
        </div>
        <div>
            <p>Course:</p>
            <input type="text" name="catalog" id="catalogInput" placeholder="e.g. 3316A">
        </div>
        <div>
            <p>Component:</p>
            <select name="component" id="componentInput">
                <option value="All">All</option>
                <option value="LEC">LEC</option>
                <option value="LAB">LAB</option>
                <option value="TUT">TUT</option>
            </select>
        </div>
        <br>
        <button name="btnSearch" id="btnSearch" (click)="onSearch()">Search</button>
    </div>
<h3>Search results:</h3>
<ul class="courses">
    <li *ngFor="let course of courses"
        [class.selected]="course === selectedCourse"
        (click)="onSelect(course)">
        <span class="id">{{course.subject}}</span> {{course.className}}
    </li>
</ul>

<!-- <app-course-detail [course]="selectedCourse"></app-course-detail> -->

<div *ngIf="selectedCourse">
    <h2>{{selectedCourse.className}} Details</h2>
    <div><span>course: </span>{{selectedCourse.subject}}{{selectedCourse.catalog_nbr}}</div>
    <div>
        <div>name:
            {{selectedCourse.className}}
        </div>
    </div>
</div>


<!-- <h2>{{course.subject}} {{course.catalog_nbr}}</h2>
<div><span>Course component: </span>{{course.component}}</div> -->